/**
 * Colors
 */

:root {
    /** colors */
    --dnp__primary-color: #002d6d;
    --dnp__secondary-color: #ff0000;
    --dnp__light-grey: #eeeeee;
    --dnp__grey: #dedede;

    /** font-sizes */
    --dnp__font-size-page: 20px;
    --dnp__font-size-title: 18px;
    --dnp__font-size-description: 16px;

    /** font-weights */
    --dnp__font-weight-title: 700;
    --dnp__font-weight-description: 700;
}

/**
 * Animations
 */

@keyframes dnp__pulse {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

@keyframes dnp__bob {

    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }

}

/**
 * Slide down arrow
 */

.dnp__down-arrow {
    position: relative;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: dnp__bob .7s infinite alternate ease-in-out;
    z-index: 500;
}

.dnp__down-arrow-link {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    color: white !important;
}

.dnp__down-arrow-link > svg {
    pointer-events: none;
}

t670__imgwrapper {
    position: relative;
}

/**
 * Modal windows
 */

.dnp__modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;
    background: white;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.dnp__modal-visible {
    opacity: 1;
}

.dnp__modal-head {
    height: 60px;
    background: var(--dnp__light-grey);
    border-bottom: 1px solid var(--dnp__grey);
}

.dnp__modal-body {
    height: 100%;
}

.dnp__modal-close-btn {
    float: right;
    height: 60px;
    width: 60px;
    background: red;
    text-decoration: none;
    opacity: .5;
    transition: opacity .2s;
}

.dnp__modal-close-btn:hover {
    opacity: 1;
}

.dnp__modal-close-btn:after {
    content: '+';
    transform: rotate(45deg);
    color: white;
    line-height: 60px;
    font-size: 4em;
    text-align: center;
    display: block;
    text-decoration: none;
}

.dnp__modal-body-iframe {
    width: 100%;
    height: 100%;
    border: 0 none;
}

.dnp__img-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: right;
}

.dnp__img-button > a {
    float: right;
    color: var(--dnp__secondary-color);
    width: 96px;
    height: 96px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 12px white;
    animation: dnp__pulse .7s infinite alternate ease-in-out;
    margin-right: 250px;
    margin-bottom: 25px;
}

.dnp__img-button > a:hover,
.dnp__img-button > a:active {
    animation: none;
}

.dnp__img-button > a:active {
    transform: scale(.95);
}

.dnp__img-button > a:hover > svg {
    color: var(--dnp__secondary-color);
}

.dnp__img-button > a > svg {
    color: var(--dnp__primary-color);
    transition: all .2s ease-in-out;
    pointer-events: none;
}

/**
 * Theme overrides
 */

body {
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
}

/** full width top menu */
.t466 {
    left: 0;
    right: 0;
}

/** font-weight in flag colors section */
#rec344816326 .t396 .tn-elem .tn-atom {
    font-weight: 700;
}

/** font-sizes */
div.t480__descr {
    font-size: var(--dnp__font-size-page);
}

.t-descr {
    font-size: var(--dnp__font-size-description);
    font-weight: var(--dnp__font-weight-description);
}

.t-name {
    font-size: var(--dnp__font-size-title);
    font-weight: var(--dnp__font-weight-title);
}
